<div class="w-screen h-screen p-2 md:p-4">
  <div class="relative w-full h-full">
    <div class="absolute z-0 w-full h-full bg-cover">
      <%= image_tag "antelope.jpg", class: "w-full h-full rounded-xl md:rounded-3xl object-cover" %>
    </div>
    <div class="absolute z-10 w-full h-full">
      <div class="flex justify-center items-center h-full">
<!--        <div class="grid grid-cols-6 gap-x-1 h-24 w-24">-->
<!--          <div class="col-span-2">-->
<!--            <div class="w-full h-full border-4 border-white rounded-lg"></div>-->
<!--          </div>-->
<!--          <div class="grid grid-rows-4 col-span-4 gap-y-1">-->
<!--            <div class="w-full row-span-1 border-4 border-white rounded-lg"></div>-->
<!--            <div class="w-full row-span-1 border-4 border-white rounded-lg"></div>-->
<!--            <div class="w-full row-span-2 border-4 border-neutral-400 rounded-lg"></div>-->
<!--          </div>-->
<!--        </div>-->
        <div>
          <h1 class="text-white text-8xl font-bold">foli</h1>
          <p class="text-neutral-300 text-light align-center text-center">Coming soon 📸</p>
        </div>
      </div>
    </div>
    <div class="absolute z-20 bottom-4 right-4">
      <div class="flex">
<!--        <h4 class="text-white">Austin Wasson</h4>-->
        <%= link_to("https://www.instagram.com/austinpatrick")  do %>
          <img src="https:/github.com/apmcdowell.png" alt="" class="w-7 h-7 rounded-full bg-cover">
        <% end  %>
      </div>
    </div>
  </div>
</div>
